<a href="https://colab.research.google.com/github/alex-style1007/polars/blob/main/Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instalar polars usando comando magico pip

In [1]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.20.2)

In [4]:
#importemos polars y asignemosle un nombre para usarlo
import polars as pl
#si deseamos ver la version de polars que estamos usando usamos el siguiente codigo
print(pl.__version__)

0.20.2

## Dataframe con Polars

1. Crear un Dataframe

In [8]:
# es de una manera muy similar a Pandas
df= pl.DataFrame(
    {
        'Nombre':['Alex','Maria','luisa','felipe','Gabriela'],
        'Edad':['22','23','32','54','29'],
        'Ciudad':['Ciudad de mexico','medellin','Inglaterra','Paris','Ibague']
    }
)
#Al igual que en pandas solo llamando al dataframe podremos ver que datos contiene
df
df.shape #para ver el tamaño del dataframe

(5, 3)

2. Cargar un set de datos con polars

In [124]:
df=pl.read_csv('/content/ventas-por-factura.csv')
df.head()

shape: (5, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ str                 ┆ i64        ┆ str            ┆ i64      ┆ str    │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪════════╡
│ 548370        ┆ 3/30/2021 16:14:00  ┆ 15528      ┆ United Kingdom ┆ 123      ┆ 229,33 │
│ 575767        ┆ 11/11/2021 11:11:00 ┆ 17348      ┆ United Kingdom ┆ 163      ┆ 209,73 │
│ C570727       ┆ 10/12/2021 11:32:00 ┆ 12471      ┆ Germany        ┆ -1       ┆ -1,45  │
│ 549106        ┆ 4/6/2021 12:08:00   ┆ 17045      ┆ United Kingdom ┆ 1        ┆ 39,95  │
│ 573112        ┆ 10/27/2021 15:33:00 ┆ 16416      ┆ United Kingdom ┆ 357      ┆ 344,83 │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴────────┘

In [74]:
#Explorar la data
df.describe()

shape: (9, 7)
┌────────────┬───────────────┬───────────┬──────────────┬─────────────┬─────────────┬────────┐
│ describe   ┆ N° de factura ┆ Fecha de  ┆ ID Cliente   ┆ País        ┆ Cantidad    ┆ Monto  │
│ ---        ┆ ---           ┆ factura   ┆ ---          ┆ ---         ┆ ---         ┆ ---    │
│ str        ┆ str           ┆ ---       ┆ f64          ┆ str         ┆ f64         ┆ str    │
│            ┆               ┆ str       ┆              ┆             ┆             ┆        │
╞════════════╪═══════════════╪═══════════╪══════════════╪═════════════╪═════════════╪════════╡
│ count      ┆ 25953         ┆ 25953     ┆ 22229.0      ┆ 25953       ┆ 25953.0     ┆ 25953  │
│ null_count ┆ 0             ┆ 0         ┆ 3724.0       ┆ 0           ┆ 0.0         ┆ 0      │
│ mean       ┆ null          ┆ null      ┆ 15238.289892 ┆ null        ┆ 199.474049  ┆ null   │
│ std        ┆ null          ┆ null      ┆ 1732.981685  ┆ null        ┆ 1107.075809 ┆ null   │
│ min        ┆ 536365        ┆ 1/10/2021 ┆ 12346.0      ┆ Australia   ┆ -80995.0    ┆ -0,39  │
│            ┆               ┆ 10:04:00  ┆              ┆             ┆             ┆        │
│ 25%        ┆ null          ┆ null      ┆ 13755.0      ┆ null        ┆ 6.0         ┆ null   │
│ 50%        ┆ null          ┆ null      ┆ 15136.0      ┆ null        ┆ 100.0       ┆ null   │
│ 75%        ┆ null          ┆ null      ┆ 16746.0      ┆ null        ┆ 240.0       ┆ null   │
│ max        ┆ C581569       ┆ 9/9/2021  ┆ 18287.0      ┆ Unspecified ┆ 80995.0     ┆ 999,26 │
│            ┆               ┆ 9:52:00   ┆              ┆             ┆             ┆        │
└────────────┴───────────────┴───────────┴──────────────┴─────────────┴─────────────┴────────┘

In [75]:
df.shape

(25953, 6)

In [76]:
df.sample(3)

shape: (3, 6)
┌───────────────┬────────────────────┬────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura   ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                ┆ ---        ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ str                ┆ i64        ┆ str            ┆ i64      ┆ str    │
╞═══════════════╪════════════════════╪════════════╪════════════════╪══════════╪════════╡
│ 548616        ┆ 4/1/2021 11:48:00  ┆ 18263      ┆ United Kingdom ┆ 328      ┆ 307,60 │
│ 568953        ┆ 9/29/2021 15:31:00 ┆ 12728      ┆ France         ┆ 163      ┆ 219,02 │
│ C545828       ┆ 3/7/2021 13:05:00  ┆ 15189      ┆ United Kingdom ┆ -8       ┆ -69,90 │
└───────────────┴────────────────────┴────────────┴────────────────┴──────────┴────────┘

* Conversion  de datos

In [77]:
df['Fecha de factura'].head(1)

shape: (1,)
Series: 'Fecha de factura' [str]
[
	"3/30/2021 16:1…
]

In [159]:
df = df.with_columns(pl.col("Monto").cast(pl.Utf8)) #para poder manipularla
df = df.with_columns(pl.col("Monto").str.replace(",", "."))
df = df.with_columns(pl.col("Monto").cast(pl.Float64))
#vamos a convertir la columna fecha a formato date
df = df.with_columns(pl.col("Fecha de factura").str.to_datetime("%m/%d/%Y %H:%M:%S"))
df = df.with_columns(pl.col("País").str.replace(" ", "_"))

In [160]:
df

shape: (25_953, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str            ┆ i64      ┆ f64    │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪════════╡
│ 548370        ┆ 2021-03-30 16:14:00 ┆ 15528      ┆ United_Kingdom ┆ 123      ┆ 229.33 │
│ 575767        ┆ 2021-11-11 11:11:00 ┆ 17348      ┆ United_Kingdom ┆ 163      ┆ 209.73 │
│ C570727       ┆ 2021-10-12 11:32:00 ┆ 12471      ┆ Germany        ┆ -1       ┆ -1.45  │
│ 549106        ┆ 2021-04-06 12:08:00 ┆ 17045      ┆ United_Kingdom ┆ 1        ┆ 39.95  │
│ …             ┆ …                   ┆ …          ┆ …              ┆ …        ┆ …      │
│ 553060        ┆ 2021-05-13 10:44:00 ┆ 15826      ┆ United_Kingdom ┆ 488      ┆ 720.0  │
│ 577049        ┆ 2021-11-17 13:58:00 ┆ 17397      ┆ United_Kingdom ┆ 104      ┆ 298.78 │
│ 550122        ┆ 2021-04-14 12:39:00 ┆ 12931      ┆ United_Kingdom ┆ 1176     ┆ 1488.0 │
│ 537999        ┆ 2020-12-09 11:44:00 ┆ null       ┆ United_Kingdom ┆ -223     ┆ 0.0    │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴────────┘

In [161]:
df.rows()

[('548370',
  datetime.datetime(2021, 3, 30, 16, 14),
  15528,
  'United_Kingdom',
  123,
  229.33),
 ('575767',
  datetime.datetime(2021, 11, 11, 11, 11),
  17348,
  'United_Kingdom',
  163,
  209.73),
 ('C570727',
  datetime.datetime(2021, 10, 12, 11, 32),
  12471,
  'Germany',
  -1,
  -1.45),
 ('549106',
  datetime.datetime(2021, 4, 6, 12, 8),
  17045,
  'United_Kingdom',
  1,
  39.95),
 ('573112',
  datetime.datetime(2021, 10, 27, 15, 33),
  16416,
  'United_Kingdom',
  357,
  344.83),
 ('576630',
  datetime.datetime(2021, 11, 16, 8, 38),
  13816,
  'Germany',
  91,
  199.98),
 ('538125',
  datetime.datetime(2020, 12, 9, 15, 46),
  18225,
  'United_Kingdom',
  16,
  30.0),
 ('544354',
  datetime.datetime(2021, 2, 18, 10, 42),
  13489,
  'United_Kingdom',
  64,
  77.28),
 ('546369',
  datetime.datetime(2021, 3, 11, 11, 41),
  15513,
  'United_Kingdom',
  10,
  67.5),
 ('570651',
  datetime.datetime(2021, 10, 11, 13, 34),
  14911,
  'EIRE',
  86,
  321.35),
 ('C543628',
  datetime.datetime(2021, 2, 10, 15, 51),
  16558,
  'United_Kingdom',
  -5,
  -9.25),
 ('539736',
  datetime.datetime(2020, 12, 21, 15, 18),
  None,
  'United_Kingdom',
  143,
  1172.46),
 ('537823',
  datetime.datetime(2020, 12, 8, 14, 25),
  None,
  'United_Kingdom',
  1484,
  6073.71),
 ('575581',
  datetime.datetime(2021, 11, 10, 11, 53),
  12659,
  'France',
  105,
  91.68),
 ('580987',
  datetime.datetime(2021, 12, 6, 16, 35),
  17389,
  'United_Kingdom',
  96,
  720.0),
 ('543754',
  datetime.datetime(2021, 2, 11, 14, 26),
  18159,
  'United_Kingdom',
  139,
  530.15),
 ('542418',
  datetime.datetime(2021, 1, 27, 17, 39),
  None,
  'United_Kingdom',
  -17,
  0.0),
 ('C553508',
  datetime.datetime(2021, 5, 17, 13, 44),
  14000,
  'United_Kingdom',
  -3,
  -1.95),
 ('563233',
  datetime.datetime(2021, 8, 14, 15, 56),
  17988,
  'United_Kingdom',
  1,
  2.95),
 ('545417',
  datetime.datetime(2021, 3, 2, 13, 42),
  15622,
  'United_Kingdom',
  222,
  576.0),
 ('C577693',
  datetime.datetime(2021, 11, 21, 11, 48),
  12628,
  'Germany',
  -3,
  -16.85),
 ('550759',
  datetime.datetime(2021, 4, 20, 12, 9),
  None,
  'United_Kingdom',
  -7,
  0.0),
 ('C547309',
  datetime.datetime(2021, 3, 22, 11, 17),
  17416,
  'United_Kingdom',
  -12,
  -45.0),
 ('556427',
  datetime.datetime(2021, 6, 10, 13, 23),
  None,
  'United_Kingdom',
  92,
  435.69),
 ('C555404',
  datetime.datetime(2021, 6, 2, 18, 28),
  17231,
  'United_Kingdom',
  -2,
  -19.9),
 ('576571',
  datetime.datetime(2021, 11, 15, 13, 48),
  12950,
  'United_Kingdom',
  164,
  311.6),
 ('550623',
  datetime.datetime(2021, 4, 19, 13, 56),
  13719,
  'United_Kingdom',
  78,
  132.9),
 ('576083',
  datetime.datetime(2021, 11, 14, 8, 22),
  17404,
  'Sweden',
  1060,
  1238.48),
 ('562417',
  datetime.datetime(2021, 8, 4, 16, 32),
  None,
  'United_Kingdom',
  526,
  1691.38),
 ('570733',
  datetime.datetime(2021, 10, 12, 11, 33),
  17190,
  'United_Kingdom',
  160,
  249.74),
 ('537026',
  datetime.datetime(2020, 12, 3, 16, 35),
  12395,
  'Belgium',
  528,
  346.1),
 ('552837',
  datetime.datetime(2021, 5, 11, 14, 24),
  12901,
  'United_Kingdom',
  72,
  140.04),
 ('C579925',
  datetime.datetime(2021, 12, 1, 9, 16),
  15544,
  'United_Kingdom',
  -3,
  -2.55),
 ('550535',
  datetime.datetime(2021, 4, 19, 11, 19),
  14211,
  'United_Kingdom',
  72,
  155.6),
 ('555213',
  datetime.datetime(2021, 6, 1, 12, 22),
  13094,
  'United_Kingdom',
  144,
  152.64),
 ('549923',
  datetime.datetime(2021, 4, 13, 9, 59),
  13138,
  'United_Kingdom',
  72,
  193.62),
 ('575198',
  datetime.datetime(2021, 11, 9, 9, 47),
  12921,
  'United_Kingdom',
  19,
  71.25),
 ('C549986',
  datetime.datetime(2021, 4, 13, 16, 3),
  18178,
  'United_Kingdom',
  -2,
  -7.5),
 ('569005',
  datetime.datetime(2021, 9, 29, 18, 30),
  16268,
  'United_Kingdom',
  465,
  493.76),
 ('566307',
  datetime.datetime(2021, 9, 12, 9, 37),
  14307,
  'United_Kingdom',
  323,
  656.23),
 ('539049',
  datetime.datetime(2020, 12, 15, 16, 21),
  15615,
  'United_Kingdom',
  364,
  1048.64),
 ('549684',
  datetime.datetime(2021, 4, 11, 13, 24),
  None,
  'United_Kingdom',
  1,
  30.0),
 ('580068',
  datetime.datetime(2021, 12, 1, 13, 41),
  17321,
  'United_Kingdom',
  5,
  41.25),
 ('542745',
  datetime.datetime(2021, 1, 31, 16, 47),
  15881,
  'United_Kingdom',
  154,
  339.29),
 ('575525',
  datetime.datetime(2021, 11, 10, 11, 6),
  13983,
  'United_Kingdom',
  72,
  128.88),
 ('C562884',
  datetime.datetime(2021, 8, 10, 11, 25),
  14056,
  'United_Kingdom',
  -3,
  -9.75),
 ('C560842',
  datetime.datetime(2021, 7, 21, 12, 25),
  14527,
  'United_Kingdom',
  -1,
  -12.15),
 ('542936',
  datetime.datetime(2021, 2, 2, 11, 10),
  None,
  'United_Kingdom',
  144,
  161.56),
 ('565682',
  datetime.datetime(2021, 9, 6, 10, 42),
  14796,
  'United_Kingdom',
  467,
  835.95),
 ('C562514',
  datetime.datetime(2021, 8, 5, 12, 20),
  13408,
  'United_Kingdom',
  -1,
  -11.95),
 ('562220',
  datetime.datetime(2021, 8, 3, 14, 19),
  15150,
  'United_Kingdom',
  108,
  304.42),
 ('562002',
  datetime.datetime(2021, 8, 1, 13, 48),
  14567,
  'United_Kingdom',
  172,
  800.76),
 ('C561210',
  datetime.datetime(2021, 7, 25, 16, 58),
  17841,
  'United_Kingdom',
  -10,
  -12.5),
 ('C545502',
  datetime.datetime(2021, 3, 3, 11, 33),
  15078,
  'United_Kingdom',
  -10,
  -19.5),
 ('538010',
  datetime.datetime(2020, 12, 9, 12, 20),
  17526,
  'United_Kingdom',
  40,
  226.8),
 ('579089',
  datetime.datetime(2021, 11, 28, 10, 46),
  17920,
  'United_Kingdom',
  58,
  111.11),
 ('560713',
  datetime.datetime(2021, 7, 20, 13, 9),
  16774,
  'United_Kingdom',
  56,
  160.8),
 ('571098',
  datetime.datetime(2021, 10, 13, 15, 38),
  17841,
  'United_Kingdom',
  200,
  437.43),
 ('574994',
  datetime.datetime(2021, 11, 8, 11, 3),
  17870,
  'United_Kingdom',
  62,
  143.11),
 ('570257',
  datetime.datetime(2021, 10, 10, 9, 56),
  13767,
  'United_Kingdom',
  129,
  380.31),
 ('541669',
  datetime.datetime(2021, 1, 20, 12, 29),
  17315,
  'United_Kingdom',
  172,
  331.76),
 ('C560687',
  datetime.datetime(2021, 7, 20, 11, 51),
  14606,
  'United_Kingdom',
  -28,
  -23.37),
 ('C569891',
  datetime.datetime(2021, 10, 6, 15, 46),
  13924,
  'United_Kingdom',
  -19,
  -65.09),
 ('552404',
  datetime.datetime(2021, 5, 9, 12, 39),
  15932,
  'United_Kingdom',
  262,
  305.02),
 ('566035',
  datetime.datetime(2021, 9, 8, 13, 17),
  12839,
  'United_Kingdom',
  286,
  413.58),
 ('576911',
  datetime.datetime(2021, 11, 17, 10, 1),
  17461,
  'United_Kingdom',
  342,
  349.2),
 ('572272',
  datetime.datetime(2021, 10, 21, 16, 18),
  13171,
  'United_Kingdom',
  60,
  132.54),
 ('577783',
  datetime.datetime(2021, 11, 21, 16, 20),
  18139,
  'United_Kingdom',
  1644,
  2786.4),
 ('578757',
  datetime.datetime(2021, 11, 25, 11, 41),
  12748,
  'United_Kingdom',
  256,
  420.41),
 ('C553557',
  datetime.datetime(2021, 5, 17, 17, 3),
  13266,
  'United_Kingdom',
  -2,
  -3.2),
 ('542351',
  datetime.datetime(2021, 1, 27, 12, 13),
  14560,
  'United_Kingdom',
  39,
  152.25),
 ('558245',
  datetime.datetime(2021, 6, 27, 16, 28),
  None,
  'United_Kingdom',
  8,
  0.0),
 ('C578090',
  datetime.datetime(2021, 11, 22, 17, 3),
  12483,
  'Sweden',
  -2,
  -80.0),
 ('559164',
  datetime.datetime(2021, 7, 6, 16, 39),
  16422,
  'United_Kingdom',
  406,
  587.46),
 ('578150',
  datetime.datetime(2021, 11, 23, 11, 18),
  16020,
  'United_Kingdom',
  10,
  16.5),
 ('558770',
  datetime.datetime(2021, 7, 3, 15, 19),
  12748,
  'United_Kingdom',
  60,
  115.55),
 ('C569552',
  datetime.datetime(2021, 10, 4, 17, 44),
  14533,
  'United_Kingdom',
  -1200,
  -84.0),
 ('C550646',
  datetime.datetime(2021, 4, 19, 16, 32),
  16873,
  'United_Kingdom',
  -6,
  -14.4),
 ('C571329',
  datetime.datetime(2021, 10, 17, 11, 32),
  17706,
  'United_Kingdom',
  -13,
  -50.8),
 ('C544557',
  datetime.datetime(2021, 2, 21, 12, 31),
  17422,
  'United_Kingdom',
  -15,
  -55.35),
 ('C539277',
  datetime.datetime(2020, 12, 16, 15, 37),
  15777,
  'United_Kingdom',
  -3,
  -25.5),
 ('C577731',
  datetime.datetime(2021, 11, 21, 13, 6),
  17811,
  'United_Kingdom',
  -6,
  -11.7),
 ('580386',
  datetime.datetime(2021, 12, 4, 10, 29),
  18065,
  'United_Kingdom',
  50,
  188.9),
 ('C553866',
  datetime.datetime(2021, 5, 19, 14, 14),
  14620,
  'United_Kingdom',
  -26,
  -19.5),
 ('570252',
  datetime.datetime(2021, 10, 10, 9, 14),
  14665,
  'United_Kingdom',
  238,
  559.52),
 ('536782',
  datetime.datetime(2020, 12, 2, 15, 18),
  17567,
  'United_Kingdom',
  244,
  517.95),
 ('C544594',
  datetime.datetime(2021, 2, 21, 16, 58),
  15079,
  'United_Kingdom',
  -1,
  -1.95),
 ('571082',
  datetime.datetime(2021, 10, 13, 15, 25),
  None,
  'United_Kingdom',
  479,
  1354.71),
 ('551984',
  datetime.datetime(2021, 5, 5, 14, 37),
  15841,
  'United_Kingdom',
  234,
  281.66),
 ('C554931',
  datetime.datetime(2021, 5, 27, 13, 21),
  17841,
  'United_Kingdom',
  -4,
  -5.0),
 ('564476',
  datetime.datetime(2021, 8, 25, 12, 57),
  12610,
  'Italy',
  168,
  309.5),
 ('540353',
  datetime.datetime(2021, 1, 6, 14, 53),
  13764,
  'United_Kingdom',
  282,
  499.89),
 ('558706',
  datetime.datetime(2021, 7, 1, 12, 52),
  16839,
  'United_Kingdom',
  320,
  416.96),
 ('566278',
  datetime.datetime(2021, 9, 11, 14, 5),
  13614,
  'United_Kingdom',
  67,
  302.15),
 ('540477',
  datetime.datetime(2021, 1, 7, 14, 49),
  13233,
  'United_Kingdom',
  404,
  304.24),
 ('569695',
  datetime.datetime(2021, 10, 5, 15, 35),
  16843,
  'United_Kingdom',
  938,
  993.88),
 ('C556920',
  datetime.datetime(2021, 6, 15, 13, 49),
  13047,
  'United_Kingdom',
  -3,
  -13.85),
 ('C543469',
  datetime.datetime(2021, 2, 8, 14, 55),
  12709,
  'Germany',
  -12,
  -83.98),
 ('538308',
  datetime.datetime(2020, 12, 10, 13, 29),
  14107,
  'United_Kingdom',
  268,
  363.24),
 ('549054',
  datetime.datetime(2021, 4, 6, 10, 21),
  17719,
  'United_Kingdom',
  109,
  312.19),
 ('555626',
  datetime.datetime(2021, 6, 6, 11, 55),
  16103,
  'United_Kingdom',
  92,
  270.8),
 ('C572343',
  datetime.datetime(2021, 10, 24, 10, 40),
  14607,
  'United_Kingdom',
  -2344,
  -2949.28),
 ('C558530',
  datetime.datetime(2021, 6, 30, 11, 26),
  15039,
  'United_Kingdom',
  -2,
  -17.0),
 ('563921',
  datetime.datetime(2021, 8, 21, 14, 0),
  16407,
  'United_Kingdom',
  2,
  15.9),
 ('563943',
  datetime.datetime(2021, 8, 22, 10, 4),
  13139,
  'United_Kingdom',
  268,
  540.92),
 ('575854',
  datetime.datetime(2021, 11, 11, 12, 20),
  14125,
  'United_Kingdom',
  486,
  1111.08),
 ('552764',
  datetime.datetime(2021, 5, 11, 11, 34),
  17489,
  'United_Kingdom',
  232,
  208.56),
 ('571407',
  datetime.datetime(2021, 10, 17, 12, 16),
  13750,
  'United_Kingdom',
  85,
  330.63),
 ('548208',
  datetime.datetime(2021, 3, 29, 17, 12),
  14189,
  'United_Kingdom',
  224,
  314.1),
 ('556922',
  datetime.datetime(2021, 6, 15, 13, 56),
  12748,
  'United_Kingdom',
  5,
  14.25),
 ('572076',
  datetime.datetime(2021, 10, 20, 14, 1),
  13761,
  'United_Kingdom',
  418,
  578.94),
 ('544189',
  datetime.datetime(2021, 2, 16, 16, 40),
  15867,
  'United_Kingdom',
  36,
  133.0),
 ('562543',
  datetime.datetime(2021, 8, 5, 15, 45),
  13552,
  'United_Kingdom',
  216,
  463.9),
 ('573136',
  datetime.datetime(2021, 10, 27, 17, 0),
  12709,
  'Germany',
  110,
  268.68),
 ('558261',
  datetime.datetime(2021, 6, 28, 8, 39),
  16945,
  'United_Kingdom',
  24,
  10.08),
 ('581482',
  datetime.datetime(2021, 12, 9, 9, 8),
  17490,
  'United_Kingdom',
  228,
  488.4),
 ('579740',
  datetime.datetime(2021, 11, 30, 14, 30),
  None,
  'United_Kingdom',
  13,
  32.07),
 ('559538',
  datetime.datetime(2021, 7, 10, 12, 25),
  16880,
  'United_Kingdom',
  135,
  269.49),
 ('548862',
  datetime.datetime(2021, 4, 4, 13, 47),
  17956,
  'United_Kingdom',
  1,
  12.75),
 ('565569',
  datetime.datetime(2021, 9, 5, 12, 21),
  14111,
  'United_Kingdom',
  18,
  48.3),
 ('556047',
  datetime.datetime(2021, 6, 8, 12, 57),
  12901,
  'United_Kingdom',
  90,
  276.24),
 ('548189',
  datetime.datetime(2021, 3, 29, 15, 15),
  16607,
  'United_Kingdom',
  163,
  141.41),
 ('557213',
  datetime.datetime(2021, 6, 17, 12, 16),
  15021,
  'United_Kingdom',
  119,
  218.14),
 ('549142',
  datetime.datetime(2021, 4, 6, 15, 26),
  None,
  'United_Kingdom',
  -24,
  0.0),
 ('571310',
  datetime.datetime(2021, 10, 17, 10, 17),
  13394,
  'United_Kingdom',
  463,
  371.73),
 ('542254',
  datetime.datetime(2021, 1, 26, 16, 41),
  14733,
  'United_Kingdom',
  133,
  511.69),
 ('576674',
  datetime.datetime(2021, 11, 16, 12, 0),
  None,
  'United_Kingdom',
  -6,
  0.0),
 ('C553841',
  datetime.datetime(2021, 5, 19, 12, 19),
  16029,
  'United_Kingdom',
  -48,
  -9.6),
 ('548546',
  datetime.datetime(2021, 3, 31, 19, 20),
  16600,
  'United_Kingdom',
  186,
  111.6),
 ('558563',
  datetime.datetime(2021, 6, 30, 13, 43),
  14561,
  'United_Kingdom',
  192,
  344.92),
 ('543385',
  datetime.datetime(2021, 2, 7, 16, 24),
  None,
  'United_Kingdom',
  1,
  7.95),
 ('546034',
  datetime.datetime(2021, 3, 9, 9, 44),
  14032,
  'United_Kingdom',
  291,
  309.64),
 ('557602',
  datetime.datetime(2021, 6, 21, 11, 57),
  14110,
  'United_Kingdom',
  156,
  379.72),
 ('544596',
  datetime.datetime(2021, 2, 21, 17, 35),
  16441,
  'United_Kingdom',
  110,
  211.0),
 ('553006',
  datetime.datetime(2021, 5, 12, 16, 45),
  15544,
  'United_Kingdom',
  393,
  560.35),
 ('542634',
  datetime.datetime(2021, 1, 31, 10, 42),
  15448,
  'United_Kingdom',
  232,
  494.64),
 ('540536',
  datetime.datetime(2021, 1, 9, 14, 21),
  17757,
  'United_Kingdom',
  93,
  145.5),
 ('536568',
  datetime.datetime(2020, 12, 1, 15, 28),
  16048,
  'United_Kingdom',
  12,
  5.04),
 ('545686',
  datetime.datetime(2021, 3, 6, 12, 9),
  18211,
  'United_Kingdom',
  56,
  137.9),
 ('553861',
  datetime.datetime(2021, 5, 19, 13, 58),
  13591,
  'United_Kingdom',
  135,
  314.03),
 ('C551015',
  datetime.datetime(2021, 4, 26, 11, 6),
  12753,
  'Japan',
  -33,
  -85.47),
 ('567370',
  datetime.datetime(2021, 9, 20, 9, 13),
  14236,
  'United_Kingdom',
  272,
  301.56),
 ('560034',
  datetime.datetime(2021, 7, 14, 13, 35),
  13933,
  'United_Kingdom',
  113,
  300.99),
 ('547419',
  datetime.datetime(2021, 3, 23, 10, 27),
  15061,
  'United_Kingdom',
  1135,
  1649.58),
 ('C565681',
  datetime.datetime(2021, 9, 6, 10, 42),
  15521,
  'United_Kingdom',
  -92,
  -192.4),
 ('565081',
  datetime.datetime(2021, 9, 1, 9, 3),
  None,
  'United_Kingdom',
  1,
  0.0),
 ('565680',
  datetime.datetime(2021, 9, 6, 10, 27),
  14560,
  'United_Kingdom',
  240,
  100.8),
 ('561244',
  datetime.datetime(2021, 7, 26, 11, 24),
  13865,
  'United_Kingdom',
  54,
  100.82),
 ('C576831',
  datetime.datetime(2021, 11, 16, 14, 56),
  12748,
  'United_Kingdom',
  -1082,
  -1301.0),
 ('542155',
  datetime.datetime(2021, 1, 26, 10, 51),
  15777,
  'United_Kingdom',
  112,
  285.6),
 ('572023',
  datetime.datetime(2021, 10, 20, 11, 3),
  17764,
  'United_Kingdom',
  247,
  556.85),
 ('577749',
  datetime.datetime(2021, 11, 21, 14, 26),
  16242,
  'United_Kingdom',
  299,
  534.2),
 ('C537383',
  datetime.datetime(2020, 12, 6, 13, 17),
  16550,
  'United_Kingdom',
  -3,
  -9.05),
 ('550901',
  datetime.datetime(2021, 4, 21, 12, 12),
  13389,
  'United_Kingdom',
  115,
  257.89),
 ('555546',
  datetime.datetime(2021, 6, 5, 13, 9),
  17735,
  'United_Kingdom',
  118,
  228.3),
 ('561900',
  datetime.datetime(2021, 7, 31, 15, 31),
  16655,
  'United_Kingdom',
  523,
  638.19),
 ('547963',
  datetime.datetime(2021, 3, 28, 15, 42),
  13037,
  'United_Kingdom',
  158,
  250.42),
 ('575968',
  datetime.datetime(2021, 11, 13, 12, 47),
  14882,
  'United_Kingdom',
  92,
  341.8),
 ('571745',
  datetime.datetime(2021, 10, 19, 10, 48),
  14911,
  'EIRE',
  711,
  1588.75),
 ('539986',
  datetime.datetime(2020, 12, 23, 15, 21),
  None,
  'United_Kingdom',
  7,
  15.25),
 ('543115',
  datetime.datetime(2021, 2, 3, 13, 27),
  14606,
  'United_Kingdom',
  72,
  120.75),
 ('552947',
  datetime.datetime(2021, 5, 12, 11, 57),
  16943,
  'United_Kingdom',
  20,
  172.1),
 ('550002', datetime.datetime(2021, 4, 14, 9, 30), 12709, 'Germany', 41, 68.0),
 ('551320',
  datetime.datetime(2021, 4, 27, 15, 25),
  None,
  'United_Kingdom',
  60,
  0.0),
 ('569539',
  datetime.datetime(2021, 10, 4, 15, 58),
  18102,
  'United_Kingdom',
  112,
  557.76),
 ('569863',
  datetime.datetime(2021, 10, 6, 14, 44),
  None,
  'United_Kingdom',
  1,
  9.95),
 ('545812',
  datetime.datetime(2021, 3, 7, 12, 26),
  14214,
  'United_Kingdom',
  313,
  638.65),
 ('569740',
  datetime.datetime(2021, 10, 6, 10, 52),
  15769,
  'United_Kingdom',
  1600,
  2924.0),
 ('564648',
  datetime.datetime(2021, 8, 26, 14, 4),
  15641,
  'United_Kingdom',
  466,
  581.82),
 ('573751',
  datetime.datetime(2021, 11, 1, 9, 33),
  None,
  'United_Kingdom',
  10,
  0.0),
 ('551859',
  datetime.datetime(2021, 5, 4, 15, 37),
  14336,
  'United_Kingdom',
  301,
  230.03),
 ('538070',
  datetime.datetime(2020, 12, 9, 14, 8),
  16519,
  'United_Kingdom',
  24,
  103.7),
 ('576848',
  datetime.datetime(2021, 11, 16, 15, 38),
  15051,
  'United_Kingdom',
  124,
  245.68),
 ('546442',
  datetime.datetime(2021, 3, 14, 10, 38),
  15159,
  'United_Kingdom',
  54,
  207.3),
 ('560422',
  datetime.datetime(2021, 7, 18, 15, 14),
  16746,
  'United_Kingdom',
  162,
  300.18),
 ('541967',
  datetime.datetime(2021, 1, 24, 13, 35),
  None,
  'United_Kingdom',
  -3,
  0.0),
 ('C546894',
  datetime.datetime(2021, 3, 17, 18, 21),
  14334,
  'United_Kingdom',
  -1,
  -12.75),
 ('559948',
  datetime.datetime(2021, 7, 14, 10, 41),
  12653,
  'Israel',
  633,
  1430.75),
 ('539688', datetime.datetime(2020, 12, 21, 11, 0), 12678, 'France', 1, 150.0),
 ('548916',
  datetime.datetime(2021, 4, 5, 10, 7),
  14849,
  'United_Kingdom',
  377,
  422.34),
 ('576767',
  datetime.datetime(2021, 11, 16, 13, 12),
  None,
  'United_Kingdom',
  -60,
  0.0),
 ('565851', datetime.datetime(2021, 9, 7, 13, 6), 14911, 'EIRE', 332, 637.29),
 ('538909',
  datetime.datetime(2020, 12, 15, 10, 48),
  13491,
  'United_Kingdom',
  18,
  97.5),
 ('553475',
  datetime.datetime(2021, 5, 17, 11, 31),
  18102,
  'United_Kingdom',
  306,
  866.4),
 ('536523',
  datetime.datetime(2020, 12, 1, 12, 50),
  12868,
  'United_Kingdom',
  112,
  203.3),
 ('547571',
  datetime.datetime(2021, 3, 24, 9, 52),
  16265,
  'United_Kingdom',
  182,
  432.3),
 ('557871',
  datetime.datetime(2021, 6, 23, 12, 41),
  13458,
  'United_Kingdom',
  130,
  300.78),
 ('C565290',
  datetime.datetime(2021, 9, 2, 11, 46),
  16092,
  'United_Kingdom',
  -24,
  -30.0),
 ('553017',
  datetime.datetime(2021, 5, 12, 19, 1),
  12757,
  'Portugal',
  311,
  602.83),
 ('549471',
  datetime.datetime(2021, 4, 8, 14, 39),
  17389,
  'United_Kingdom',
  72,
  73.5),
 ('573924',
  datetime.datetime(2021, 11, 2, 9, 45),
  15065,
  'United_Kingdom',
  202,
  299.38),
 ('C554011',
  datetime.datetime(2021, 5, 20, 12, 55),
  13151,
  'United_Kingdom',
  -2,
  -7.5),
 ('576641',
  datetime.datetime(2021, 11, 16, 9, 59),
  17549,
  'United_Kingdom',
  150,
  120.66),
 ('574746',
  datetime.datetime(2021, 11, 7, 8, 30),
  16523,
  'United_Kingdom',
  198,
  676.8),
 ('546019',
  datetime.datetime(2021, 3, 8, 17, 25),
  14507,
  'United_Kingdom',
  50,
  39.49),
 ('556809',
  datetime.datetime(2021, 6, 14, 16, 48),
  17179,
  'United_Kingdom',
  82,
  223.48),
 ('567768',
  datetime.datetime(2021, 9, 22, 11, 17),
  15950,
  'United_Kingdom',
  123,
  255.84),
 ('574661',
  datetime.datetime(2021, 11, 6, 11, 56),
  13447,
  'United_Kingdom',
  166,
  430.3),
 ('C575940',
  datetime.datetime(2021, 11, 13, 11, 38),
  17838,
  'United_Kingdom',
  -458,
  -466.6),
 ('549838',
  datetime.datetime(2021, 4, 12, 13, 39),
  16705,
  'United_Kingdom',
  48,
  96.0),
 ('547519',
  datetime.datetime(2021, 3, 23, 14, 46),
  16308,
  'United_Kingdom',
  1000,
  320.0),
 ('C554140',
  datetime.datetime(2021, 5, 23, 10, 34),
  13004,
  'United_Kingdom',
  -4,
  -15.8),

In [162]:
df.columns

['N° de factura',
 'Fecha de factura',
 'ID Cliente',
 'País',
 'Cantidad',
 'Monto']

3. Seleccionar algunas columnas

In [163]:
df_select=df.select(['ID Cliente','País','Monto'])

In [164]:
df_select

shape: (25_953, 3)
┌────────────┬────────────────┬────────┐
│ ID Cliente ┆ País           ┆ Monto  │
│ ---        ┆ ---            ┆ ---    │
│ i64        ┆ str            ┆ f64    │
╞════════════╪════════════════╪════════╡
│ 15528      ┆ United_Kingdom ┆ 229.33 │
│ 17348      ┆ United_Kingdom ┆ 209.73 │
│ 12471      ┆ Germany        ┆ -1.45  │
│ 17045      ┆ United_Kingdom ┆ 39.95  │
│ …          ┆ …              ┆ …      │
│ 15826      ┆ United_Kingdom ┆ 720.0  │
│ 17397      ┆ United_Kingdom ┆ 298.78 │
│ 12931      ┆ United_Kingdom ┆ 1488.0 │
│ null       ┆ United_Kingdom ┆ 0.0    │
└────────────┴────────────────┴────────┘

In [165]:
#Filtrar con condiciones:
df_filter=df.filter(pl.col("ID Cliente")==12931)

In [166]:
df_filter

shape: (20, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬─────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto   │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---     │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str            ┆ i64      ┆ f64     │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪═════════╡
│ 562440        ┆ 2021-08-04 18:07:00 ┆ 12931      ┆ United_Kingdom ┆ 48       ┆ 204.0   │
│ 577289        ┆ 2021-11-18 12:39:00 ┆ 12931      ┆ United_Kingdom ┆ 516      ┆ 444.96  │
│ 539460        ┆ 2020-12-17 18:07:00 ┆ 12931      ┆ United_Kingdom ┆ 20       ┆ 33.0    │
│ 543994        ┆ 2021-02-15 10:41:00 ┆ 12931      ┆ United_Kingdom ┆ 1280     ┆ 1696.4  │
│ …             ┆ …                   ┆ …          ┆ …              ┆ …        ┆ …       │
│ 539332        ┆ 2020-12-17 09:45:00 ┆ 12931      ┆ United_Kingdom ┆ 200      ┆ 144.0   │
│ 569334        ┆ 2021-10-03 13:53:00 ┆ 12931      ┆ United_Kingdom ┆ 1514     ┆ 1909.36 │
│ 575335        ┆ 2021-11-09 13:56:00 ┆ 12931      ┆ United_Kingdom ┆ 3684     ┆ 4961.2  │
│ 550122        ┆ 2021-04-14 12:39:00 ┆ 12931      ┆ United_Kingdom ┆ 1176     ┆ 1488.0  │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴─────────┘

In [167]:
df2_filtered = df.filter(pl.col("Cantidad").is_between(20,30))
df2_filtered

shape: (783, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str            ┆ i64      ┆ f64    │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪════════╡
│ 558261        ┆ 2021-06-28 08:39:00 ┆ 16945      ┆ United_Kingdom ┆ 24       ┆ 10.08  │
│ 552947        ┆ 2021-05-12 11:57:00 ┆ 16943      ┆ United_Kingdom ┆ 20       ┆ 172.1  │
│ 538070        ┆ 2020-12-09 14:08:00 ┆ 16519      ┆ United_Kingdom ┆ 24       ┆ 103.7  │
│ 539651        ┆ 2020-12-20 16:19:00 ┆ null       ┆ United_Kingdom ┆ 26       ┆ 32.5   │
│ …             ┆ …                   ┆ …          ┆ …              ┆ …        ┆ …      │
│ 567488        ┆ 2021-09-20 14:00:00 ┆ 17564      ┆ United_Kingdom ┆ 30       ┆ 119.12 │
│ 573103        ┆ 2021-10-27 14:56:00 ┆ 16513      ┆ United_Kingdom ┆ 21       ┆ 108.45 │
│ 577612        ┆ 2021-11-21 09:59:00 ┆ null       ┆ United_Kingdom ┆ 20       ┆ 0.0    │
│ 574908        ┆ 2021-11-07 15:37:00 ┆ 16009      ┆ United_Kingdom ┆ 28       ┆ 82.76  │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴────────┘

## Clasificación y Ordenación de Datos

In [168]:
sorted_df = df.sort(by='Cantidad')
sorted_df.head()

shape: (5, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬───────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto     │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---       │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str            ┆ i64      ┆ f64       │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪═══════════╡
│ C581484       ┆ 2021-12-09 09:27:00 ┆ 16446      ┆ United_Kingdom ┆ -80995   ┆ -168469.6 │
│ C541433       ┆ 2021-01-18 10:17:00 ┆ 12346      ┆ United_Kingdom ┆ -74215   ┆ -77183.6  │
│ 556691        ┆ 2021-06-14 10:37:00 ┆ null       ┆ United_Kingdom ┆ -9600    ┆ 0.0       │
│ 556690        ┆ 2021-06-14 10:37:00 ┆ null       ┆ United_Kingdom ┆ -9600    ┆ 0.0       │
│ C536757       ┆ 2020-12-02 14:23:00 ┆ 15838      ┆ United_Kingdom ┆ -9360    ┆ -280.8    │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴───────────┘

In [169]:
sorted_df_desc = df.sort('Cantidad',descending=True)  # DESC order
sorted_df_desc.head()

shape: (5, 6)
┌───────────────┬─────────────────────┬────────────┬────────────────┬──────────┬──────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País           ┆ Cantidad ┆ Monto    │
│ ---           ┆ ---                 ┆ ---        ┆ ---            ┆ ---      ┆ ---      │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str            ┆ i64      ┆ f64      │
╞═══════════════╪═════════════════════╪════════════╪════════════════╪══════════╪══════════╡
│ 581483        ┆ 2021-12-09 09:15:00 ┆ 16446      ┆ United_Kingdom ┆ 80995    ┆ 168469.6 │
│ 541431        ┆ 2021-01-18 10:01:00 ┆ 12346      ┆ United_Kingdom ┆ 74215    ┆ 77183.6  │
│ 556917        ┆ 2021-06-15 13:37:00 ┆ 12415      ┆ Australia      ┆ 15049    ┆ 22775.93 │
│ 563076        ┆ 2021-08-11 16:12:00 ┆ 14646      ┆ Netherlands    ┆ 14730    ┆ 19150.66 │
│ 574941        ┆ 2021-11-07 17:42:00 ┆ null       ┆ United_Kingdom ┆ 14149    ┆ 52940.94 │
└───────────────┴─────────────────────┴────────────┴────────────────┴──────────┴──────────┘

#### Ver duplicados

In [170]:
# show duplicated
df.filter(df.is_duplicated())

shape: (20, 6)
┌───────────────┬─────────────────────┬────────────┬─────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ ID Cliente ┆ País            ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---        ┆ ---             ┆ ---      ┆ ---    │
│ str           ┆ datetime[μs]        ┆ i64        ┆ str             ┆ i64      ┆ f64    │
╞═══════════════╪═════════════════════╪════════════╪═════════════════╪══════════╪════════╡
│ C581384       ┆ 2021-12-08 13:06:00 ┆ 17673      ┆ United_Kingdom  ┆ -2       ┆ -6.9   │
│ 568387        ┆ 2021-09-27 10:04:00 ┆ 13704      ┆ United_Kingdom  ┆ 340      ┆ 422.32 │
│ 568417        ┆ 2021-09-27 11:10:00 ┆ 14911      ┆ EIRE            ┆ 202      ┆ 776.3  │
│ 568423        ┆ 2021-09-27 11:24:00 ┆ 17061      ┆ United_Kingdom  ┆ 118      ┆ 573.4  │
│ …             ┆ …                   ┆ …          ┆ …               ┆ …        ┆ …      │
│ C581323       ┆ 2021-12-08 11:53:00 ┆ 14442      ┆ Channel_Islands ┆ -1       ┆ -4.25  │
│ C581323       ┆ 2021-12-08 11:53:00 ┆ 14442      ┆ Channel_Islands ┆ -1       ┆ -4.25  │
│ C581330       ┆ 2021-12-08 11:57:00 ┆ 15877      ┆ United_Kingdom  ┆ -125     ┆ -52.5  │
│ 568404        ┆ 2021-09-27 10:36:00 ┆ null       ┆ United_Kingdom  ┆ -17      ┆ 0.0    │
└───────────────┴─────────────────────┴────────────┴─────────────────┴──────────┴────────┘

In [171]:
#ver nulos
df.null_count()
Valores_nullos=df['ID Cliente'].null_count()
Total=df['ID Cliente'].count()
PorcentajeNulos=(Valores_nullos/Total)*100
print("El porcentaje de ID nulos son:",PorcentajeNulos)

El porcentaje de ID nulos son: 16.752890368437626

In [172]:
#ya que para este caso no es necesario la columna id procederemos a eliminarla de dataframe, pero no lo haremos sobre el df
#original si no sobre otro
df_l=df.drop("ID Cliente")
df_l

shape: (25_953, 5)
┌───────────────┬─────────────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ datetime[μs]        ┆ str            ┆ i64      ┆ f64    │
╞═══════════════╪═════════════════════╪════════════════╪══════════╪════════╡
│ 548370        ┆ 2021-03-30 16:14:00 ┆ United_Kingdom ┆ 123      ┆ 229.33 │
│ 575767        ┆ 2021-11-11 11:11:00 ┆ United_Kingdom ┆ 163      ┆ 209.73 │
│ C570727       ┆ 2021-10-12 11:32:00 ┆ Germany        ┆ -1       ┆ -1.45  │
│ 549106        ┆ 2021-04-06 12:08:00 ┆ United_Kingdom ┆ 1        ┆ 39.95  │
│ …             ┆ …                   ┆ …              ┆ …        ┆ …      │
│ 553060        ┆ 2021-05-13 10:44:00 ┆ United_Kingdom ┆ 488      ┆ 720.0  │
│ 577049        ┆ 2021-11-17 13:58:00 ┆ United_Kingdom ┆ 104      ┆ 298.78 │
│ 550122        ┆ 2021-04-14 12:39:00 ┆ United_Kingdom ┆ 1176     ┆ 1488.0 │
│ 537999        ┆ 2020-12-09 11:44:00 ┆ United_Kingdom ┆ -223     ┆ 0.0    │
└───────────────┴─────────────────────┴────────────────┴──────────┴────────┘

In [173]:
#Remplazar los valores de Nan con 0
df_l.fill_nan(0)

shape: (25_953, 5)
┌───────────────┬─────────────────────┬────────────────┬──────────┬────────┐
│ N° de factura ┆ Fecha de factura    ┆ País           ┆ Cantidad ┆ Monto  │
│ ---           ┆ ---                 ┆ ---            ┆ ---      ┆ ---    │
│ str           ┆ datetime[μs]        ┆ str            ┆ i64      ┆ f64    │
╞═══════════════╪═════════════════════╪════════════════╪══════════╪════════╡
│ 548370        ┆ 2021-03-30 16:14:00 ┆ United_Kingdom ┆ 123      ┆ 229.33 │
│ 575767        ┆ 2021-11-11 11:11:00 ┆ United_Kingdom ┆ 163      ┆ 209.73 │
│ C570727       ┆ 2021-10-12 11:32:00 ┆ Germany        ┆ -1       ┆ -1.45  │
│ 549106        ┆ 2021-04-06 12:08:00 ┆ United_Kingdom ┆ 1        ┆ 39.95  │
│ …             ┆ …                   ┆ …              ┆ …        ┆ …      │
│ 553060        ┆ 2021-05-13 10:44:00 ┆ United_Kingdom ┆ 488      ┆ 720.0  │
│ 577049        ┆ 2021-11-17 13:58:00 ┆ United_Kingdom ┆ 104      ┆ 298.78 │
│ 550122        ┆ 2021-04-14 12:39:00 ┆ United_Kingdom ┆ 1176     ┆ 1488.0 │
│ 537999        ┆ 2020-12-09 11:44:00 ┆ United_Kingdom ┆ -223     ┆ 0.0    │
└───────────────┴─────────────────────┴────────────────┴──────────┴────────┘

In [174]:
df_l.null_count()

shape: (1, 5)
┌───────────────┬──────────────────┬──────┬──────────┬───────┐
│ N° de factura ┆ Fecha de factura ┆ País ┆ Cantidad ┆ Monto │
│ ---           ┆ ---              ┆ ---  ┆ ---      ┆ ---   │
│ u32           ┆ u32              ┆ u32  ┆ u32      ┆ u32   │
╞═══════════════╪══════════════════╪══════╪══════════╪═══════╡
│ 0             ┆ 0                ┆ 0    ┆ 0        ┆ 0     │
└───────────────┴──────────────────┴──────┴──────────┴───────┘

In [175]:
Data=df_l.group_by(by="Fecha de factura").agg(pl.col("Monto").mean())
Data

shape: (23_260, 2)
┌─────────────────────┬─────────┐
│ Fecha de factura    ┆ Monto   │
│ ---                 ┆ ---     │
│ datetime[μs]        ┆ f64     │
╞═════════════════════╪═════════╡
│ 2021-10-10 13:33:00 ┆ 155.305 │
│ 2021-11-21 09:22:00 ┆ 0.0     │
│ 2021-06-19 10:11:00 ┆ 163.2   │
│ 2021-09-23 10:19:00 ┆ 20.85   │
│ …                   ┆ …       │
│ 2021-05-03 11:41:00 ┆ 489.6   │
│ 2021-11-16 16:09:00 ┆ -12.75  │
│ 2021-11-17 10:51:00 ┆ -8.6    │
│ 2021-09-11 14:49:00 ┆ 160.2   │
└─────────────────────┴─────────┘

# Guardar en Parquet

In [179]:
from pathlib import Path

# Se define el path utilizando Path
path: Path = Path("/content/Data") / "Facturas.parquet"
# Se sobrescribe el archivo existente al escribir el DataFrame en formato Parquet
df_l.write_parquet(path, use_pyarrow=True, pyarrow_options={"partition_cols":["País"]})

In [182]:
from google.colab import files
# Descargar el archivo
files.download(path)

In [183]:
import zipfile
import os

# Ruta de la carpeta que deseas comprimir
carpeta_a_comprimir = path

# Ruta del archivo ZIP resultante
archivo_zip = '/content/Parquet/partitioned_object.zip'

# Comprimir la carpeta en un archivo ZIP
with zipfile.ZipFile(archivo_zip, 'w', zipfile.ZIP_DEFLATED) as zipf:
    for root, _, files in os.walk(carpeta_a_comprimir):
        for archivo in files:
            zipf.write(os.path.join(root, archivo), os.path.relpath(os.path.join(root, archivo), carpeta_a_comprimir))

# Descargar el archivo ZIP comprimido
from google.colab import files
files.download(archivo_zip)